[Unit]
Description=IRC Client

[Service]
Type=simple
WorkingDirectory=/home/hoff/vexbot
ExecStart=vexbot_irc
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
