[Unit]
Description=Helper robot

[Service]
Type=simple
WorkingDirectory=/home/hoff/vexbot
ExecStart=vexbot_socket_io
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
