[Unit]
Description=Youtube Adapter for Vexbot

[Service]
Type=dbus
ExecStart=/path/to/youtube/script /path/to/config/file
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
